.clickable {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.main-container {
  padding: 0 !important;
}

.container-fluid {
  background-color: var(--painter);
}

.no-data {
  color: var(--powderBlue);
}

.countdown {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.5rem;
}
