table {
  width: 100%;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
  // text-transform: capitalize;
}

table th td {
  font-size: 0.55em;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

th:first-child {
  width: 5rem;
}

.custom-background {
  color: var(--blueDianne);
  background-color: var(--powderBlue) !important;
}

.pagination-custom-scss ::ng-deep .ngx-pagination .current {
  background: var(--blueDianne);
  color: var(--lavanderBlush);
}
tr:hover {
  background-color: var(--martini);
}

// @media screen and (max-width: 600px) {
//   table {
//     border: 0;
//   }

//   table caption {
//     font-size: 1.3em;
//   }

//   table thead {
//     border: none;
//     clip: rect(0 0 0 0);
//     height: 1px;
//     margin: -1px;
//     overflow: hidden;
//     padding: 0;
//     position: absolute;
//     width: 1px;
//   }

//   table tr {
//     border-bottom: 3px solid #ddd;
//     display: block;
//     margin-bottom: 0.625em;
//   }

//   table td {
//     border-bottom: 1px solid #ddd;
//     display: block;
//     font-size: 0.8em;
//     text-align: right;
//   }

//   table td::before {
//     content: attr(data-label);
//     float: left;
//     font-weight: bold;
//     text-transform: uppercase;
//   }

//   table td:last-child {
//     border-bottom: 0;
//   }
// }
