<jr-archive-header [activeTab]="archiveTabEnum.DRIVERS" badge="Archive - Drivers"></jr-archive-header>

<div class="container-fluid d-flex justify-content-between p-2">
  <jr-input-group class="search-bar" layout="horizontal" size="normal">
    <input
      [(ngModel)]="searchTerm"
      [ngModelOptions]="{ standalone: true }"
      JrInput
      type="text"
      placeholder="Search Driver by Name, Surname, Phone, ID or City"
    />
    <div JrSuffix>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </jr-input-group>
</div>

<!-- <div class="table-responsive"> -->
<table class="table-borderless table-hover">
  <thead>
    <tr class="custom-background">
      <th scope="col">Details</th>
      <th scope="col">ID</th>
      <th scope="col">
        Second Name
        <jr-icon-button [icon]="!sortReverse ? 'DOWN_AZ' : 'UP_ZA'" (click)="sort('s_name')"></jr-icon-button>
      </th>
      <th scope="col">First Name</th>
      <th scope="col">City</th>
      <th scope="col">Phone</th>
      <th scope="col" class="text-center"><jr-icon icon="SETINGS" /></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let driver of drivers
          | paginate: { itemsPerPage: 5, currentPage: p }
          | filterBy: ['s_name', 'f_name', 'id', 'phone', 'city'] : searchTerm
          | orderBy: 's_name'
      "
    >
      <td>
        <jr-icon-button
          [disabled]="!permissions.viewArchive"
          icon="EYE"
          (click)="openDriverProfile(driver)"
          variant="SIMPLE"
          [tooltip]="!permissions.viewArchive ? noPermissonsMessage : 'View informations'"
          container="body"
        />
      </td>
      <td data-label="ID ">{{ driver.id }}</td>
      <td data-label="Second Name" class="capitalize">{{ driver.s_name }}</td>
      <td data-label="First Name" class="capitalize">{{ driver.f_name }}</td>
      <td data-label="City" class="capitalize">{{ driver.city }}</td>
      <td data-label="Phone">{{ driver.phone }}</td>
      <td>
        <div class="d-flex justify-content-around">
          <jr-icon-button
            [disabled]="!permissions.removeArchive"
            (click)="restoreDriver(driver)"
            icon="RESTORE"
            flavour="SECONDARY"
            [tooltip]="!permissions.removeArchive ? noPermissonsMessage : 'Restore'"
            container="body"
            variant="SIMPLE"
          />
          <jr-icon-button
            [disabled]="!permissions.removeArchive"
            (click)="deleteDriver(driver)"
            icon="TRASH"
            flavour="DANGER"
            [tooltip]="!permissions.removeArchive ? noPermissonsMessage : 'Remove'"
            container="body"
            variant="SIMPLE"
          />
        </div>
      </td>
    </tr>
  </tbody>
</table>

<jr-table-preloader *ngIf="isLoading" [rows]="countedRows"></jr-table-preloader>
<div *ngIf="!countedRows"><p class="text-center m-4 no-data">Looks like there's nothing to show...</p></div>

<!-- </div> -->
<pagination-controls
  class="d-flex justify-content-end mt-4 mr-2 position-fixed fixed-bottom pagination-custom-scss"
  (pageChange)="p = $event"
  responsive="true"
/>

<!-- ############################################ IMPLEMENT TABLE FROM NG-PRIME ###################################### -->
