<jr-archive-header [activeTab]="archiveTabEnum.DELIVERIES" badge="Archive - Deliveries"></jr-archive-header>

<div class="container-fluid d-flex justify-content-between p-2">
  <jr-input-group class="search-bar" layout="horizontal" size="normal">
    <input
      [(ngModel)]="searchTerm"
      [ngModelOptions]="{ standalone: true }"
      JrInput
      type="text"
      placeholder="Search Delivery by, ID, Store ID, Driver, Vehicle"
    />
    <div JrSuffix>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </jr-input-group>
</div>

<table class="table-borderless table-hover">
  <thead>
    <tr class="custom-background">
      <th scope="col">Details</th>
      <th scope="col">Shipping Id</th>
      <th scope="col">Store ID</th>
      <th scope="col">
        Store City
        <jr-icon-button
          [icon]="!sortReverse ? 'DOWN_AZ' : 'UP_ZA'"
          (click)="sort('store_address_city')"
        ></jr-icon-button>
      </th>
      <th scope="col">Store Phone</th>
      <th scope="col">Driver</th>
      <th scope="col">Vehicle</th>
      <th scope="col">Deleted at</th>
      <th scope="col">Deleted by</th>
      <th scope="col" class="text-center"><jr-icon icon="SETINGS" /></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let shipping of shippings
          | paginate: { itemsPerPage: 10, currentPage: p }
          | filterBy: ['s_name', 'f_name', 'id', 'f_name'] : searchTerm
          | orderBy: 's_name'
      "
    >
      <td>
        <jr-icon-button
          [disabled]="!permissions.viewArchive"
          icon="EYE"
          (click)="openShippingDetails(shipping)"
          variant="SIMPLE"
          [tooltip]="!permissions.viewArchive ? noPermissonsMessage : 'View informations'"
          container="body"
        />
      </td>
      <td data-label="Shipping Id">{{ shipping.id }}</td>
      <td data-label="Store Id">{{ shipping.storeDetails?.id }}</td>
      <td data-label="Store City" class="capitalize">{{ shipping.storeDetails?.store_address_city }}</td>
      <td data-label="Store Phone">{{ shipping.storeDetails?.store_phone }}</td>
      <td data-label="Driver" class="capitalize">
        {{ shipping.assignedDriver?.f_name }} {{ shipping.assignedDriver?.s_name }}
      </td>
      <td data-label="Vehicle" class="uppercase">{{ shipping.assignedVehicle?.registration_number }}asf</td>
      <td data-label="Deleted at">{{ shipping.deleted_at | jrDatePipe }}</td>
      <td data-label="Deleted by">{{ shipping.deleted_by_user }}</td>
      <td>
        <div class="d-flex justify-content-around">
          <jr-icon-button
            [disabled]="!permissions.removeArchive"
            (click)="restoreShipping(shipping)"
            icon="RESTORE"
            flavour="SECONDARY"
            [tooltip]="!permissions.removeArchive ? noPermissonsMessage : 'Restore'"
            container="body"
            variant="SIMPLE"
          />
          <jr-icon-button
            [disabled]="!permissions.removeArchive"
            (click)="deleteShipping(shipping)"
            icon="TRASH"
            flavour="DANGER"
            [tooltip]="!permissions.removeArchive ? noPermissonsMessage : 'Restore'"
            container="body"
            variant="SIMPLE"
          />
        </div>
      </td>
    </tr>
  </tbody>
</table>

<jr-table-preloader *ngIf="isLoading" [rows]="countedRows"></jr-table-preloader>
<div *ngIf="!countedRows"><p class="text-center m-4 no-data">Looks like there's nothing to show...</p></div>

<pagination-controls
  class="d-flex justify-content-end mt-4 mr-2 position-fixed fixed-bottom pagination-custom-scss"
  (pageChange)="p = $event"
  responsive="true"
/>
