<jr-modal [displayHeader]="false" [displayTopRightCloseButton]="false">
  <div class="text-center" modalBodyContent>
    <p class="h4">Please verify your email</p>
    <p class="countdown">
      The modal will close in <b> {{ countdown }}</b> seconds
    </p>
  </div>
</jr-modal>
