<jr-modal [displayHeader]="true" (closeModal)="bsModalRef.hide()">
  <div modalHeaderContent>
    <h5 *ngIf="!vehicle">Add a new Vehicle</h5>
    <h5 *ngIf="vehicle">
      Edit Vehicle: <b class="uppercase"> {{ vehicle.registration_number }}</b>
    </h5>
    <h5 *ngIf="viewDetails">
      View Details: <b class="uppercase"> {{ vehicle.registration_number }}</b>
    </h5>
  </div>

  <div modalBodyContent>
    <div class="container-fluid form-container">
      <form class="m-4" [formGroup]="newVehicleform">
        <div class="row">
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Brand">
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="brand"
              type="text"
              placeholder="Mercedes"
            />
          </jr-input-group>

          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Model">
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="model"
              type="text"
              placeholder="Sprinter 320"
            />
          </jr-input-group>

          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Registration Plate No.">
            <input
              class="form-control m-b-4 uppercase"
              JrInput
              formControlName="registration_number"
              type="text"
              placeholder="TM25REM"
            />
          </jr-input-group>
        </div>

        <div class="row">
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Fabrication Date">
            <input
              class="form-control m-b-4"
              JrInput
              formControlName="date_of_fabrication"
              type="text"
              placeholder="Please select a date"
              bsDatepicker
              [bsConfig]="bsDateConfig"
            />
          </jr-input-group>
          <jr-input-group
            class="col-lg-4 col-md-12 mb-3"
            [showRequiredMark]="true"
            label="Technical Inspenction Exp Date"
          >
            <input
              class="form-control m-b-4"
              JrInput
              formControlName="technical_inspection_exp"
              type="text"
              placeholder="Please select a date"
              bsDatepicker
              [bsConfig]="bsDateConfig"
            />
          </jr-input-group>
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Assurance Exp Date">
            <input
              class="form-control m-b-4"
              JrInput
              formControlName="assurance_exp"
              type="text"
              placeholder="Please select a date"
              bsDatepicker
              [bsConfig]="bsDateConfig"
            />
          </jr-input-group>
        </div>

        <div class="row">
          <jr-input-group class="col-lg-6 col-md-12 mb-3" [showRequiredMark]="true" label="VIN">
            <input
              class="form-control m-b-4 uppercase"
              JrInput
              formControlName="vin"
              type="text"
              placeholder="Please type the VIN serial number"
            />
          </jr-input-group>
          <!-- <jr-input-group class="col-lg-6 col-md-12 mb-3" [showRequiredMark]="true" label="Available">
            <input class="m-b-4 text-center" formControlName="is_available" type="checkbox" />
          </jr-input-group> -->
        </div>

        <div class="row">
          <jr-input-group class="col-lg-12 col-md-12 mb-3" label="Comments">
            <textarea
              class="form-control m-b-4"
              formControlName="comments"
              placeholder="Type here any related comments about this vehicle. E.g : The vehicle has a scratch on the left side."
              cols="30"
              rows="5"
            ></textarea>
          </jr-input-group>
        </div>
      </form>
    </div>
  </div>
  <div class="w-100" modalFooterContent>
    <div class="d-flex justify-content-between">
      <jr-button text="Cancel" flavour="DANGER" (click)="bsModalRef.hide()" />
      <jr-button *ngIf="!viewDetails" text="Save" (click)="onSave(newVehicleform)" />
      <jr-button *ngIf="viewDetails" text="Save PDF" />
    </div>
  </div>
</jr-modal>
