<jr-modal [displayHeader]="true" (closeModal)="bsModalRef.hide()">
  <div modalHeaderContent>
    <h5 *ngIf="!driver">Add a new Driver</h5>
    <h5 *ngIf="driver && !viewDetails">
      Edit driver: <b> {{ driver.s_name }} {{ driver.f_name }}</b>
    </h5>
    <h5 *ngIf="viewDetails">
      View Details: <b> {{ driver.s_name }} {{ driver.f_name }}</b>
    </h5>
  </div>

  <div modalBodyContent>
    <div class="container-fluid form-container">
      <form class="m-4" [formGroup]="newDriverform">
        <div class="row">
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Driver's second name">
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="s_name"
              type="text"
              placeholder="Pop"
            />
          </jr-input-group>

          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Driver's first name">
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="f_name"
              type="text"
              placeholder="Mihai"
            />
          </jr-input-group>
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Date of birth">
            <input
              class="form-control m-b-4"
              JrInput
              formControlName="date_of_birth"
              type="text"
              placeholder="Please select a date"
              bsDatepicker
              [bsConfig]="bsDateConfig"
            />
          </jr-input-group>
        </div>
        <div class="row">
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Phone">
            <input class="form-control m-b-4" JrInput formControlName="phone" type="number" placeholder="0711223344" />
          </jr-input-group>
          <jr-input-group class="col-lg-6 col-md-12 mb-3" [showRequiredMark]="true" label="email">
            <input
              class="form-control m-b-4"
              JrInput
              formControlName="email"
              type="text"
              placeholder="pop.mihai@email.com"
            />
          </jr-input-group>
        </div>
        <div class="row">
          <jr-input-group class="col-lg-3 col-md-12 mb-3" [showRequiredMark]="true" label="City">
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="city"
              type="text"
              placeholder="Timisoara"
            />
          </jr-input-group>
          <jr-input-group class="col-lg-3 col-md-12 mb-3" [showRequiredMark]="true" label="County">
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="county"
              type="text"
              placeholder="Timis"
            />
          </jr-input-group>
          <jr-input-group class="col-lg-3 col-md-12 mb-3" [showRequiredMark]="true" label="Street">
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="street"
              type="text"
              placeholder="Simion Barnutiu"
            />
          </jr-input-group>
          <jr-input-group class="col-lg-3 col-md-12 mb-3" [showRequiredMark]="true" label="Nr">
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="street_number"
              type="text"
              placeholder="22C Ap 3"
            />
          </jr-input-group>
        </div>
        <div class="row">
          <jr-input-group class="col-lg-3 col-md-12 mb-3" [showRequiredMark]="true" label="ID Document Type">
            <jr-dropdown
              [label]="driver ? driver?.id_document_type : label"
              [options]="idTypes"
              (optionSelected)="onDocTypeSelect($event)"
              [isDisabled]="viewDetails"
            ></jr-dropdown>
          </jr-input-group>

          <jr-input-group class="col-lg-3 col-md-12 mb-3" label="Documnet Series">
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="id_series"
              type="text"
              placeholder="TM / KS "
            />
          </jr-input-group>

          <jr-input-group class="col-lg-3 col-md-12 mb-3" [showRequiredMark]="true" label="Number">
            <input
              class="form-control m-b-4"
              JrInput
              formControlName="national_id_number"
              type="text"
              placeholder="Please type the number of the document"
            />
          </jr-input-group>

          <jr-input-group class="col-lg-3 col-md-12 mb-3" [showRequiredMark]="true" label="Issued by">
            <input
              class="form-control m-b-4"
              JrInput
              formControlName="national_id_issued_by"
              type="text"
              placeholder="SPCLEP Timis"
            />
          </jr-input-group>
        </div>

        <div class="row">
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Issued at">
            <input
              class="form-control m-b-4"
              JrInput
              formControlName="national_id_issued_at"
              type="text"
              placeholder="Please select a date"
              bsDatepicker
              [bsConfig]="bsDateConfig"
            />
          </jr-input-group>

          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Expires at">
            <input
              class="form-control m-b-4"
              JrInput
              formControlName="national_id_expires_at"
              type="text"
              placeholder="Expira la data de ..."
              bsDatepicker
              [bsConfig]="bsDateConfig"
            />
          </jr-input-group>

          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Personal Unique Identifier">
            <input
              class="form-control m-b-4"
              JrInput
              formControlName="national_identifier"
              type="text"
              placeholder="Please type the CNP"
            />
          </jr-input-group>
        </div>
        <div class="row">
          <jr-input-group
            class="col-lg-6 col-md-12 mb-3"
            [showRequiredMark]="true"
            label="Full name of the emergency contact"
          >
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="emergency_contact_name"
              type="text"
              placeholder="Please type the full name"
            />
          </jr-input-group>
          <jr-input-group class="col-lg-6 col-md-12 mb-3" [showRequiredMark]="true" label="Phone">
            <input
              class="form-control m-b-4"
              JrInput
              formControlName="emergency_contact_phone"
              type="number"
              placeholder="0711223344"
            />
          </jr-input-group>
        </div>
        <div class="row">
          <jr-input-group class="col-lg-12 col-md-12 mb-3" label="Comments">
            <textarea
              class="form-control m-b-4 uppercase"
              formControlName="comments"
              placeholder="Comments"
              cols="30"
              rows="5"
            ></textarea>
          </jr-input-group>
        </div>
      </form>
    </div>
  </div>
  <div class="w-100" modalFooterContent>
    <div class="d-flex justify-content-between">
      <jr-button text="Cancel" flavour="DANGER" (click)="bsModalRef.hide()" />
      <jr-button
        *ngIf="!viewDetails"
        text="Save"
        [icon]="isSaving ? 'SPINNER' : 'SAVE'"
        [iconAnimation]="isSaving ? 'SPIN' : 'UNSET'"
        (click)="onSave(newDriverform)"
      />
      <jr-button
        *ngIf="viewDetails"
        text="Save PDF"
        [icon]="isSaving ? 'SPINNER' : 'PDF'"
        [iconAnimation]="isSaving ? 'SPIN' : 'UNSET'"
        (click)="download(driver)"
      />
    </div>
  </div>
</jr-modal>
