<div class="container-fluid d-flex justify-content-between p-2">
  <jr-input-group class="search-bar" layout="horizontal" size="normal">
    <input
      [(ngModel)]="searchTerm"
      [ngModelOptions]="{ standalone: true }"
      JrInput
      type="text"
      placeholder="Search Store by Name, ID, City, County or Contact"
    />
    <div JrSuffix>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </jr-input-group>
  <jr-button
    [disabled]="!permissions.createEntries"
    icon="PLUS"
    text="Add Store"
    size="SMALL"
    [tooltip]="!permissions.createEntries ? noPermissonsMessage : 'Add Store'"
    container="body"
    (click)="addStore()"
  />
</div>

<table class="table-borderless table-hover">
  <thead>
    <tr class="custom-background">
      <th scope="col">Details</th>
      <th scope="col">Store ID</th>
      <th scope="col">County</th>
      <th scope="col">
        City
        <jr-icon-button
          [icon]="!sortReverse ? 'DOWN_AZ' : 'UP_ZA'"
          (click)="sort('store_address_city')"
        ></jr-icon-button>
      </th>
      <th scope="col">Street</th>
      <th scope="col">Contact</th>
      <th scope="col">Contact Phone</th>
      <th scope="col" class="text-center"><jr-icon icon="SETINGS" /></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let store of stores
          | paginate: { itemsPerPage: 10, currentPage: p }
          | filterBy: ['store_name', 'id', 'store_address_county', 'store_address_city', 'contact_name'] : searchTerm
          | orderBy: ['id', 'store_address_county']
      "
    >
      <td>
        <jr-icon-button
          icon="EYE"
          (click)="openStoreDetails(store)"
          variant="SIMPLE"
          tooltip="Open Vehicles Informations"
          container="body"
        />
      </td>
      <td data-label="Store ID">{{ store.id }}</td>
      <td data-label="County" class="capitalize">{{ store.store_address_county }}</td>
      <td data-label="City" class="capitalize">{{ store.store_address_city }}</td>
      <td data-label="Street" class="capitalize">{{ store.store_address_street }}</td>
      <td data-label="Contact" class="capitalize">{{ store.contact_name }}</td>
      <td data-label="Contact Phone" class="capitalize">{{ store.contact_phone }}</td>
      <td>
        <div class="d-flex justify-content-around">
          <jr-icon-button
            [disabled]="!permissions.createEntries"
            (click)="editStore(store)"
            icon="PEN"
            flavour="SECONDARY"
            [tooltip]="!permissions.removeEntries ? noPermissonsMessage : 'Edit Store'"
            container="body"
            variant="SIMPLE"
          />
          <jr-icon-button
            [disabled]="!permissions.createEntries"
            (click)="deleteStore(store)"
            icon="TRASH"
            flavour="DANGER"
            [tooltip]="!permissions.removeEntries ? noPermissonsMessage : 'Delete Store'"
            container="body"
            variant="SIMPLE"
          />
        </div>
      </td>
    </tr>
  </tbody>
</table>

<jr-table-preloader *ngIf="isLoading" [rows]="countedRows"></jr-table-preloader>
<div *ngIf="!countedRows"><p class="text-center m-4 no-data">Looks like there's nothing to show...</p></div>

<pagination-controls
  class="d-flex justify-content-end mt-4 mr-2 position-fixed fixed-bottom pagination-custom-scss"
  (pageChange)="p = $event"
  responsive="true"
/>
