<button
  [ngClass]="[
    buttonVariants[variant],
    buttonFlavours[flavour],
    buttonSizes[size],
    buttonFontWeights[fontWeight],
    buttonFontStyles[fontStyle],
    isFullWidth ? 'full-width' : '',
    isTruncated ? 'truncated' : '',
    hasMarginLeft ? 'ml' : '',
    hasMarginRight ? 'mr' : '',
    hasMarginTop ? 'mt' : '',
    hasMarginBottom ? 'mb' : '',
    withDarkBackground ? 'with-dark-background' : '',
    'position-' + iconPositions[iconPosition]
  ]"
  [disabled]="disabled"
  [type]="type"
>
  <ng-container *ngIf="icon && icon !== 'UNSET' && iconPosition === 'LEFT'">
    <div class="icon-wrapper">
      <jr-icon
        [icon]="icon"
        [iconAnimation]="iconAnimation"
        [iconStyle]="iconStyle"
        [size]="iconSize"
      />
    </div>
  </ng-container>
  <span>{{ text }}</span>
  <ng-container *ngIf="icon && icon !== 'UNSET' && iconPosition === 'RIGHT'">
    <div class="icon-wrapper">
      <jr-icon
        [icon]="icon"
        [iconAnimation]="iconAnimation"
        [iconStyle]="iconStyle"
        [size]="iconSize"
      />
    </div>
  </ng-container>
</button>
