:host {
  box-sizing: border-box;
}

// reset - will be moved to normalize scss file
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-transform: none;
  overflow: visible;
  white-space: nowrap;
}

button {
  color: var(--text-black);
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  padding: 4px 16px;
  border-radius: 4px;
  background-position: center;
  transition: background 0.8s;

  &:focus-visible {
    outline: 4px solid var(--light-sky-blue);
  }

  &:hover {
    background: var(--glass-quarter) radial-gradient(circle, transparent 1%, var(--glass-quarter) 1%) center/15000%;
  }

  &:active {
    background-size: 100%;
    transition: background 0s;
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--secondary-silver);

    & > * {
      pointer-events: none;
    }
  }

  // TODO: Extract these into global variables
  &.font-weight-normal {
    font-weight: 400;
  }

  &.font-weight-medium {
    font-weight: 500;
  }

  &.font-weight-bold {
    font-weight: 700;
  }

  &.font-style-italic {
    font-style: italic;
  }
}

.extra_small {
  font-size: 0.702rem;
  line-height: 16px;
  min-width: 80px;
  padding: 4px 12px;
}

.small {
  font-size: 0.889rem;
  line-height: 21px;
  min-width: 80px;
  padding: 4px 16px;

  &.mr {
    margin-right: 24px;
  }
  &.ml {
    margin-left: 24px;
  }
  &.mt {
    margin-top: 16px;
  }
  &.mb {
    margin-bottom: 16px;
  }
}

// .medium {
//   min-width: 100px;
//   padding: 8px 24px;

//   &.mr {
//     margin-right: 16px;
//   }
//   &.ml {
//     margin-left: 16px;
//   }
//   &.mt {
//     margin-top: 8px;
//   }
//   &.mb {
//     margin-bottom: 8px;
//   }
// }

// .large {
//   width: 100%;
//   padding: 12px 24px;

//   &.mr {
//     margin-right: 16px;
//   }
//   &.ml {
//     margin-left: 16px;
//   }
//   &.mt {
//     margin-top: 16px;
//   }
//   &.mb {
//     margin-bottom: 16px;
//   }
// }

// .extra_large {
//   padding: 16px 24px;
// }

.icon-wrapper {
  display: inline-block;
}

.small,
.medium {
  &.position-left {
    .icon-wrapper {
      margin-right: 8px;
    }
  }

  &.position-right {
    .icon-wrapper {
      margin-left: 8px;
    }
  }
}
.large {
  &.position-left {
    .icon-wrapper {
      margin-right: 16px;
    }
  }

  &.position-right {
    .icon-wrapper {
      margin-left: 16px;
    }
  }
}

.solid,
.outlined,
.ghost {
  text-transform: uppercase;
}

.solid {
  // Default styling for solid button
  background-color: var(--powderBlue);

  &:hover:not([disabled]) {
    color: var(--lavanderBlush);
    background-color: var(--horizon);
  }

  &:disabled {
    background-color: var(--darkpowderBlue);
  }

  // Styling for other flavours

  // &.secondary {
  //   color: var(--white);
  //   background-color: var(--text-black);

  //   &:hover:not([disabled]) {
  //     color: var(--text-black);
  //     background-color: var(--secondary-silver);
  //   }

  //   &:disabled {
  //     color: var(--secondary-silver);
  //     background-color: var(--gallery);
  //   }
  // }

  &.danger {
    background-color: var(--coral);

    &:hover:not([disabled]) {
      color: var(--lavanderBlush);
      background-color: var(--cedarChest);
    }

    &:disabled {
      background-color: var(--melon);
    }
  }
  &.success {
    color: var(--go-green);

    &:hover:not([disabled]) {
      color: var(--dartmouth-green);
    }

    &:disabled {
      color: var(--greenblue);
    }
  }

  // &.admin {
  //   color: var(--white);
  //   background-color: var(--bluey-purple);

  //   &:hover:not([disabled]) {
  //     background-color: var(--violet);
  //   }

  //   &:disabled {
  //     color: var(--white);
  //     background-color: var(--lavender);
  //   }
  // }
}

// .outlined {
//   &.primary {
//     color: var(--blue);
//     border: 1px solid var(--cyan);

//     &:hover:not([disabled]) {
//       background-color: var(--ice);
//     }

//     &:disabled {
//       color: var(--light-sky-blue);
//       border: 1px solid var(--light-sky-blue);
//     }
//   }

//   &.secondary {
//     border: 1px solid var(--text-black);

//     &:hover:not([disabled]) {
//       background-color: var(--alto);
//     }

//     &:disabled {
//       border: 1px solid var(--secondary-silver);
//     }

//     &.with-dark-background {
//       color: var(--white);
//       border: 1px solid var(--white);
//     }
//   }

//   &.danger {
//     color: var(--orange-red);
//     border: 1px solid var(--orange-red);

//     &:hover:not([disabled]) {
//       color: var(--american-brown);
//       background-color: var(--melon);
//     }

//     &:disabled {
//       color: var(--melon);
//       border: 1px solid var(--melon);
//     }
//   }

//   &.admin {
//     border: 1px solid var(--bluey-purple);
//     color: var(--bluey-purple);

//     &:hover:not([disabled]) {
//       background-color: var(--lavender);
//     }

//     &:disabled {
//       color: var(--lavender);
//       border: 1px solid var(--lavender);
//     }
//   }
// }

// .ghost {
//   // Default styling for ghost button
//   &:hover:not([disabled]) {
//     background-color: var(--alto);
//   }

//   &.with-dark-background {
//     color: var(--white);
//   }

//   // Styling for other flavours
//   &.primary {
//     color: var(--blue);

//     &:hover:not([disabled]) {
//       background-color: var(--ice);
//     }

//     &:disabled {
//       color: var(--light-sky-blue);
//     }
//   }

//   &.secondary {
//     &:hover:not([disabled]) {
//       background-color: var(--alto);
//     }

//     &:disabled {
//       color: var(--secondary-silver);
//     }
//   }

//   &.danger {
//     color: var(--orange-red);

//     &:hover:not([disabled]) {
//       background-color: var(--melon);
//     }

//     &:disabled {
//       color: var(--melon);
//     }
//   }

//   &.admin {
//     color: var(--bluey-purple);

//     &:hover:not([disabled]) {
//       background-color: var(--lavender);
//     }

//     &:disabled {
//       color: var(--lavender);
//     }
//   }
// }

.text-button {
  // Default styling for text button
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  min-width: initial;
  padding: 0;

  &.primary {
    color: var(--blue);

    &:hover:not([disabled]) {
      color: var(--cerulean);
    }

    &:disabled {
      color: var(--light-sky-blue);
    }
  }

  &.danger {
    color: var(--orange-red);

    &:hover:not([disabled]) {
      color: var(--coral);
    }

    &:disabled {
      color: var(--melon);
    }
  }

  &.admin {
    color: var(--bluey-purple);

    &:hover:not([disabled]) {
      color: var(--violet);
    }

    &:disabled {
      color: var(--lavender);
    }
  }

  &.with-dark-background {
    color: var(--white);
  }

  // Styling for other flavours
}

.full-width {
  width: 100%;
}

.truncated {
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
