.badge-container {
  background-color: var(--blueDianne);
  //   background-color: red;
  width: fit-content;
  margin: 1.5rem;
  border-radius: 15px;
  padding: 0.5rem;
}
.custom-badge {
  color: var(--lavanderBlush);
}
