<jr-archive-header [activeTab]="archiveTabEnum.VEHICLES" badge="Archive - Vehicles"></jr-archive-header>

<div class="container-fluid d-flex justify-content-between p-2">
  <jr-input-group class="search-bar" layout="horizontal" size="normal">
    <input
      [(ngModel)]="searchTerm"
      [ngModelOptions]="{ standalone: true }"
      JrInput
      type="text"
      placeholder="Search Vehicle by, ID, Brand, Model, Registration Number"
    />
    <div JrSuffix>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </jr-input-group>
</div>

<!-- <div class="table-responsive"> -->
<table class="table-borderless table-hover">
  <thead>
    <tr class="custom-background">
      <th scope="col">Details</th>
      <th scope="col">ID</th>
      <th scope="col">
        Plate Reg. No.
        <jr-icon-button
          [icon]="!sortReverse ? 'DOWN_AZ' : 'UP_ZA'"
          (click)="sort('registration_number')"
        ></jr-icon-button>
      </th>
      <th scope="col">Brand</th>
      <th scope="col">Model</th>
      <th scope="col">Available</th>
      <th scope="col" class="text-center"><jr-icon icon="SETINGS" /></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let vehicle of vehicles
          | paginate: { itemsPerPage: 10, currentPage: p }
          | filterBy: ['brand', 'model', 'registration_number'] : searchTerm
      "
    >
      <td>
        <jr-icon-button
          [disabled]="!permissions.viewArchive"
          icon="EYE"
          (click)="openVehicleProfile(vehicle)"
          variant="SIMPLE"
          [tooltip]="!permissions.viewArchive ? noPermissonsMessage : 'View informations'"
          container="body"
        />
      </td>
      <td data-label="ID">{{ vehicle.id }}</td>
      <td data-label="Plate Reg. No." class="uppercase">{{ vehicle.registration_number }}</td>
      <td data-label="Brand" class="capitalize">{{ vehicle.brand }}</td>
      <td data-label="Model" class="capitalize">{{ vehicle.model }}</td>
      <td data-label="Available">
        <jr-icon
          [color]="vehicle.is_available ? 'go-green' : 'cedarChest'"
          [icon]="vehicle.is_available ? 'CHECK_CIRCLE' : 'XCIRCLE'"
        ></jr-icon>
      </td>
      <td>
        <div class="d-flex justify-content-around">
          <jr-icon-button
            [disabled]="!permissions.removeArchive"
            icon="RESTORE"
            (click)="restoreVehicle(vehicle)"
            flavour="ADMIN"
            [tooltip]="!permissions.removeArchive ? noPermissonsMessage : 'Restore'"
            container="body"
            variant="SIMPLE"
          />
          <jr-icon-button
            [disabled]="!permissions.removeArchive"
            (click)="deleteVehicle(vehicle)"
            icon="TRASH"
            flavour="DANGER"
            [tooltip]="!permissions.removeArchive ? noPermissonsMessage : 'Remove'"
            container="body"
            variant="SIMPLE"
          />
        </div>
      </td>
    </tr>
  </tbody>
</table>

<jr-table-preloader *ngIf="isLoading" [rows]="countedRows"></jr-table-preloader>
<div *ngIf="!countedRows"><p class="text-center m-4 no-data">Looks like there's nothing to show...</p></div>

<!-- </div> -->
<pagination-controls
  class="d-flex justify-content-end mt-4 mr-2 position-fixed fixed-bottom pagination-custom-scss"
  (pageChange)="p = $event"
  responsive="true"
/>
