<jr-modal [displayHeader]="true" (closeModal)="bsModalRef.hide()">
  <div modalHeaderContent>
    <h5 *ngIf="!store">Add a new Store</h5>
    <h5 *ngIf="store && !viewDetails">
      Edit Store: <b> {{ store.name }} - {{ store.id }}</b>
    </h5>
    <h5 *ngIf="viewDetails">
      View Details: <b> {{ store.name }} - {{ store.id }}</b>
    </h5>
  </div>

  <div modalBodyContent>
    <div class="container-fluid form-container">
      <form class="m-4" [formGroup]="newStoreForm">
        <div class="row">
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Store Name">
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="store_name"
              type="text"
              placeholder="Store Name"
            />
          </jr-input-group>

          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Store phone">
            <input
              class="form-control m-b-4"
              JrInput
              formControlName="store_phone"
              type="number"
              placeholder="Store phone"
            />
          </jr-input-group>
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Store Email">
            <input
              class="form-control m-b-4"
              JrInput
              formControlName="store_email"
              type="text"
              placeholder="Store Email"
            />
          </jr-input-group>
        </div>

        <div class="row">
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="County">
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="store_address_county"
              type="text"
              placeholder="County"
            />
          </jr-input-group>
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="City">
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="store_address_city"
              type="text"
              placeholder="City"
            />
          </jr-input-group>
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Street">
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="store_address_street"
              type="text"
              placeholder="Street"
            />
          </jr-input-group>
         
        </div>
        <div class="row">
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Steet No">
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="store_address_street_no"
              type="text"
              placeholder="Street No"
            />
          </jr-input-group>
        </div>

        <div class="row">
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Contact Name">
            <input
              class="form-control m-b-4 capitalize"
              JrInput
              formControlName="contact_name"
              type="text"
              placeholder="John Doe"
            />
          </jr-input-group>
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Contact Phone">
            <input
              class="form-control m-b-4"
              JrInput
              formControlName="contact_phone"
              type="text"
              placeholder="Phone No"
            />
          </jr-input-group>
          <jr-input-group class="col-lg-4 col-md-12 mb-3" [showRequiredMark]="true" label="Contact email">
            <input
              class="form-control m-b-4"
              JrInput
              formControlName="contact_email"
              type="text"
              placeholder="john.doe@email.com"
            />
          </jr-input-group>
        </div>

        <div class="row">
          <jr-input-group class="col-lg-12 col-md-12 mb-3" label="Comments">
            <textarea
              class="form-control m-b-4"
              formControlName="comments"
              placeholder="Comments"
              cols="30"
              rows="5"
            ></textarea>
          </jr-input-group>
        </div>
      </form>
    </div>
  </div>
  <div class="w-100" modalFooterContent>
    <div class="d-flex justify-content-between">
      <jr-button text="Cancel" flavour="DANGER" (click)="bsModalRef.hide()" />
      <jr-button *ngIf="!viewDetails" text="Save" (click)="onSave(newStoreForm)" />
      <jr-button *ngIf="viewDetails" text="Print PDF" (click)="print(store)" />
    </div>
  </div>
</jr-modal>
