i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 12px;
  width: 12px;

  &.medium {
    height: 16px;
    width: 16px;
  }

  &.large {
    height: 24px;
    width: 24px;
  }

  &.x_large {
    height: 32px;
    width: 32px;
  }
}
