// reset - will be moved to normalize scss file
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-transform: none;
  overflow: visible;
  white-space: nowrap;
}

button {
  color: var(--text-black);
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  background-position: center;
  transition: background 0.8s;

  &:focus-visible {
    outline: 4px solid var(--light-sky-blue);
  }

  &:hover {
    background: var(--glass-half) radial-gradient(circle, transparent 1%, var(--glass-half) 1%) center/15000%;
  }

  &:active {
    background-size: 100%;
    transition: background 0s;
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--secondary-silver);

    & > * {
      pointer-events: none;
    }
  }

  &.round {
    border-radius: 50%;
  }
}

.small {
  line-height: 1;
  padding: 4px;
}

.medium {
  line-height: 1;
  padding: 12px;
}

.large {
  line-height: 1.5;
  padding: 12px;
}

// .solid {
//   // Default styling for solid button
//   background-color: var(--cyan);

//   &:hover:not([disabled]) {
//     background-color: var(--cerulean);
//   }

//   &:disabled {
//     background-color: var(--ice);
//   }

//   // Styling for other flavours
//   &.secondary {
//     color: var(--white);
//     background-color: var(--text-black);

//     &:hover:not([disabled]) {
//       color: var(--text-black);
//       background-color: var(--secondary-silver);
//     }

//     &:disabled {
//       color: var(--secondary-silver);
//       background-color: var(--gallery);
//     }
//   }

//   &.danger {
//     background-color: var(--coral);

//     &:hover:not([disabled]) {
//       background-color: var(--orange-red);
//     }

//     &:disabled {
//       background-color: var(--melon);
//     }
//   }

//   &.admin {
//     color: var(--white);
//     background-color: var(--bluey-purple);

//     &:hover:not([disabled]) {
//       background-color: var(--violet);
//     }

//     &:disabled {
//       color: var(--white);
//       background-color: var(--lavender);
//     }
//   }
//   &.success {
//     color: var(--white);
//     background-color: var(--go-green);

//     &:hover:not([disabled]) {
//       background-color: var(--dartmouth-green);
//     }

//     &:disabled {
//       color: var(--white);
//       background-color: var(--greenblue);
//     }
//   }
// }

// .outlined {
//   outline-offset: -1px;

//   // Styling for other flavours
//   &.primary {
//     color: var(--blue);
//     outline: 1px solid var(--cyan);

//     &:hover:not([disabled]) {
//       background-color: var(--ice);
//     }

//     &:disabled {
//       color: var(--light-sky-blue);
//       outline: 1px solid var(--light-sky-blue);
//     }
//   }

//   &.secondary {
//     outline: 1px solid var(--text-black);

//     &:hover:not([disabled]) {
//       background-color: var(--alto);
//     }

//     &:disabled {
//       outline: 1px solid var(--secondary-silver);
//     }
//   }

//   &.danger {
//     color: var(--orange-red);
//     outline: 1px solid var(--orange-red);

//     &:hover:not([disabled]) {
//       color: var(--american-brown);
//       background-color: var(--melon);
//     }

//     &:disabled {
//       color: var(--melon);
//       outline: 1px solid var(--melon);
//     }
//   }

//   &.admin {
//     color: var(--bluey-purple);
//     outline: 1px solid var(--bluey-purple);

//     &:hover:not([disabled]) {
//       color: var(--violet);
//       background-color: var(--lavender);
//     }

//     &:disabled {
//       color: var(--lavender);
//       outline: 1px solid var(--lavender);
//     }
//   }
//   &.success {
//     color: var(--white);
//     background-color: var(--go-green);

//     &:hover:not([disabled]) {
//       background-color: var(--dartmouth-green);
//     }

//     &:disabled {
//       color: var(--white);
//       background-color: var(--greenblue);
//     }
//   }
// }

// .ghost {
//   // Styling for other flavours
//   &.primary {
//     color: var(--blue);

//     &:hover:not([disabled]) {
//       background-color: var(--ice);
//     }
//   }

//   &.secondary {
//     &:hover:not([disabled]) {
//       background-color: var(--alto);
//     }
//   }

//   &.danger {
//     color: var(--orange-red);

//     &:hover:not([disabled]) {
//       color: var(--american-brown);
//       background-color: var(--melon);
//     }
//   }

//   &.admin {
//     color: var(--bluey-purple);

//     &:hover:not([disabled]) {
//       color: var(--violet);
//       background-color: var(--lavender);
//     }
//   }
//   &.success {
//     color: var(--white);
//     background-color: var(--go-green);

//     &:hover:not([disabled]) {
//       background-color: var(--dartmouth-green);
//     }

//     &:disabled {
//       color: var(--white);
//       background-color: var(--greenblue);
//     }
//   }
// }

.simple {
  // Styling for other flavours
  &.primary {
    color: var(--powderBlue);

    &:hover:not([disabled]) {
      color: var(--lavanderBlush);
      background-color: var(--horizon);
    }

    &:disabled {
      color: var(--darkpowderBlue);
    }
  }

  &.secondary {
    color: var(--darkGold);

    &:hover:not([disabled]) {
      color: var(--gold);
    }

    &:disabled {
      color: var(--lightGold);
    }
  }

  &.clasic {
    color: var(--textBlack);

    // &:hover:not([disabled]) {
    //   color: var(--gold);
    // }

    // &:disabled {
    //   color: var(--lightGold);
    // }
  }

  &.danger {
    color: var(--coral);

    &:hover:not([disabled]) {
      color: var(--cedarChest);
    }

    &:disabled {
      color: var(--disabledRed);
    }
  }

  &.admin {
    color: var(--bluey-purple);

    &:hover:not([disabled]) {
      color: var(--violet);
    }

    // &:disabled {
    //   color: var(--lavender);
    // }
  }
  &.success {
    color: var(--go-green);

    &:hover:not([disabled]) {
      color: var(--dartmouth-green);
    }

    &:disabled {
      color: var(--greenblue);
    }
  }
}
