.jr-form-field-container {
  position: relative;

  .jr-form-field-label {
    display: flex;
    align-items: center;
  }

  &.vertical-layout,
  &.horizontal-layout {
    .jr-label-input-container {
      display: flex;
      width: 100%;
    }
  }

  &.vertical-layout {
    .jr-label-input-container {
      flex-direction: column;
    }
    .jr-label-container,
    .jr-input-container {
      width: 100%;
    }
  }

  &.horizontal-layout {
    .jr-label-input-container {
      flex-direction: row;

      .jr-label-container {
        height: 42px;
        display: flex;
        align-items: center;
        margin-right: 10px;
      }

      .jr-input-container {
        display: flex;
        flex-direction: column;
        flex: 1;
      }

      .jr-field-suffix,
      .jr-field-prefix {
        top: 0;
        bottom: 0;
      }
    }
  }

  .jr-field-prefix,
  .jr-field-suffix {
    position: absolute;
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      display: block;
      height: 16px;
      width: 16px;

      div {
        height: 16px;
        width: 16px;
        display: inline-flex;
        color: var(--pure-black) !important;
      }
    }
  }

  .jr-field-suffix {
    top: 26px;
    right: 0;

    &.jr-field-clear-action {
      cursor: pointer;
      color: var(--focus-state);
    }

    &.no-label {
      .jr-field-suffix {
        top: 0;
      }
    }
  }

  &.has-prefix {
    .jr-form-field-input {
      padding-left: 40px;
    }
  }

  &.has-suffix {
    .jr-form-field-input {
      padding-right: 40px;
    }
  }

  &.has-error {
    .jr-form-field-input {
      border-color: var(--error-state);
    }

    .jr-form-field-input::placeholder {
      color: var(--error-state);
    }
  }

  &.has-warning {
    .jr-form-field-input {
      border-color: orange;
    }
  }

  .jr-form-field-errors,
  .jr-form-field-helpers,
  .jr-form-field-warnings {
    .jr-form-field-error,
    .jr-form-field-helper,
    .jr-form-field-warning {
      margin: 4px 0;
      display: flex;
      align-items: center;
      flex-direction: row;
      padding-right: 8px;

      .icon {
        width: 14px;
        height: 14px;

        i {
          display: inline-block;
        }
        i div {
          display: inline-flex;
        }
        i,
        i div,
        i div svg {
          height: 14px;
          width: 14px;
        }
      }

      .message {
        flex: 1;
        margin-left: 5px;
      }
    }

    .jr-form-field-error {
      .message {
        color: var(--error-state);
        border-color: var(--error-state);
      }
    }

    .jr-form-field-warning {
      .message {
        color: orange;
        border-color: orange;
      }
    }

    .jr-form-field-helper {
      .message {
        color: green;
      }
    }
  }
}

.jr-form-field-input {
  width: 100%;
  -webkit-appearance: none;
  outline: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--pure-black);

  &:placeholder-shown {
    color: var(--pure-black);
  }

  &:hover {
    border-color: var(--focus-state);
  }

  &:focus {
    border-color: var(--focus-state);
  }

  &:disabled {
    background-color: #f7f7f7;
    border-color: #f7f7f7;
  }

  &:disabled::placeholder {
    color: #f7f7f7;
  }

  &[type='search']::-webkit-search-decoration,
  &[type='search']::-webkit-search-cancel-button,
  &[type='search']::-webkit-search-results-button,
  &[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  &[type='search']::-ms-clear,
  &[type='search']::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &[type='search'],
  &.search {
    &:focus {
      border-color: var(--focus-state);
    }
  }
}

.jr-form-field--focused {
  .jr-form-field-container {
    .jr-field-prefix--search {
      i,
      i div {
        color: var(--focus-state);
      }
    }
  }
}
