<div
  class="jr-form-field-container"
  [class.has-error]="hasError"
  [class.has-warning]="hasWarning"
  [class.has-prefix]="hasPrefix"
  [class.has-suffix]="hasSuffix"
  [class.no-label]="!hasLabel"
  [class.vertical-layout]="layout === formFieldLayout.VERTICAL"
  [class.horizontal-layout]="layout === formFieldLayout.HORIZONTAL"
>
  <div class="jr-label-input-container">
    <ng-content> </ng-content>
  </div>
</div>
